#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
packages/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs

#Other
Published/
dll/ServiceStack.Signed/*.tmp
src/.vs/
src/deploy/T1Group
src/deploy/Lukom
src/deploy/Web
src/deploy/ZWave
src/deploy/TestEcho
src/Tone.Parser.Self/App.config
src/Tone.Parser.Service/App.config
*.orig

#Except
*.csproj.DotSettings

#Ignore files build by Rider
src/.idea/
